**Author:** Priyadharsshini Sakrapani

In [95]:
# Importing Pandas library and the 'starwars.csv' file
import pandas as pd

df = pd.read_csv('starwars.csv', keep_default_na=False)
df

,id,seen_any_films,fan,seen_episode1,seen_episode2,seen_episode3,seen_episode4,seen_episode5,seen_episode6,rank_episode1,...,view_yoda,who_shot_first,familiar_with_expanded_universe,fan_expanded_universe,fan_star_trek,gender,age,household_income,education,location
0,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,N/A,High school degree,South Atlantic
1,3.292880e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1,...,Unfamiliar (N/A),I don't understand this question,No,N/A,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3.292763e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,I don't understand this question,No,N/A,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3.292731e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3.288389e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,Han,No,N/A,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1182,3.288379e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,I don't understand this question,No,N/A,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1183,3.288375e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1184,3.288373e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,Han,No,N/A,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1185,3.288373e+09,Yes,No,Yes,Yes,No,No,Yes,Yes,6,...,Very unfavorably,I don't understand this question,No,N/A,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

<b>QUESTION:</b> Write code that determines the number of unique values for age.
##### NUMBER OF UNIQUE VALUES FOR AGE

In [96]:
df['age'].unique().size #includes the NaN

5

<b>QUESTION:</b>Write code that lists all the unique responses to the question, "Who shot first?" (who_shot_first
field)

#### UNIQUE RESPONSES TO THE QUESTION, 'WHO SHOT FIRST?'

In [97]:
df['who_shot_first'].unique() #including NaN values

array(["I don't understand this question", 'N/A', 'Greedo', 'Han'],
      dtype=object)

<b>QUESTION:</b> Write code to determine the number of entries in the data set that view Darth Vader as "Very
favorably" or "Somewhat favorably"

#### NUMBER OF ENTRIES THAT VIEW DARTH VADER AS 'VERY FAVORABLY' OR 'SOMEWHAT FAVORABLY'

In [98]:
len(df[(df['view_darth_vader'] =="Very favorably") | (df['view_darth_vader'] =="Somewhat favorably")])

481

<b>QUESTION:</b> Write code that computes the total number of people that have seen all 6 Star Wars films (hint:
471).

#### NUMBER OF PEOPLE THAT HAVE SEEN ALL 6 STAR WARS FILMS

In [99]:
# Filtering the data using the conditional on the 'seen_episode#' and then finding the length of the filtered dataset.
len(df[(df['seen_episode1'] == "Yes") & (df['seen_episode2'] == "Yes") & (df['seen_episode3'] == "Yes") & (df['seen_episode4'] == "Yes") & (df['seen_episode5'] == "Yes") & (df['seen_episode6'] == "Yes")])

471

<b>QUESTION:</b> Write code that computes the percentage of males and females that are fans of Star Wars.

#### PERCENTAGE OF MALES AND FEMALES THAT ARE FANS OF STAR WARS

In [100]:
# Filtering all the fans
filtered_data = df[df['fan'] == "Yes"]

malepercentdf = len(filtered_data[filtered_data['gender'] == "Male"])/len(df[df['gender'] == "Male"])*100
print("Male Percentage is",malepercentdf)

Male Percentage is 60.96579476861167

In [101]:
femalepercentdf = len(filtered_data[filtered_data['gender'] == "Female"])/len(df[df['gender'] == "Female"])*100
print("Female Percentage is",femalepercentdf)

Female Percentage is 43.35154826958106